# Zbiór konfiguracyjny - Pomiar Wiązki w Linii Iniekcyjnej za pomocą kubków Faradaya

Port szeregowy: /dev/ttyS5
#Port szeregowy: /dev/ttyUSB0

Adres mobusowy slave'a: 1

Liczba kubków Faradaya do obsłużenia: 3

# Numeracja kubków Faradaya jest następująca:
# 1. Kubek położony najbliżej źródła jonów, z napędem pneumatycznym.
# 2. Kubek z napędem pneumatycznym, pełniący dodatkowo funkcję blokady dopływu wiązki do cyklotronu.
# 3. Kubek położony najbliżej cyklotronu, z napędem silnikowym.
Tytuł pierwszego kubka: Kubek Faradaya w linii poziomej
Tytuł drugiego kubka:   Kubek z napędem pneumatycznym w linii pionowej
Tytuł trzeciego kubka:  Kubek Faradaya z napędem silnikowym w linii pionowej

# Limity czasu aktywności napędów kubków Faradaya w milisekundach
Limit czasu wsuwania kubka 1:  2000
Limit czasu schowania kubka 1: 2000
Limit czasu wsuwania kubka 2:  2000
Limit czasu schowania kubka 2: 2000
Limit czasu wsuwania kubka 3:  6000
Limit czasu schowania kubka 3: 7000

# Kalibracja kubków Faradaya powinna być wykonana za pomocą 4 żródeł prądowych o znanych i stabilnych wartościach prądu
# Prądy I2 i I3 są progami przełączania wzmocnienia, określającymi strefy histerezy
# Jednostka 1 uA/100 = 0.01 uA
# Maksymalna wartość prądu kalibracyjnego nie może przekroczyć 30000 uA/100 = 300 uA
Prądy kalibracyjne: I1 = 24169 uA/100, I2 = 2410 uA/100, I3 = 2198 uA/100, I4 = 158 uA/100

Odczyty ADC dla kubka 1, kanału 1, wzmocnienia małego: Y(I1) = 1770, Y(I2) = 190, Y(I3) = 173
Odczyty ADC dla kubka 1, kanału 1, wzmocnienia dużego: Y(I2) = 1785, Y(I3) = 1636, Y(I4) = 49

Odczyty ADC dla kubka 1, kanału 2, wzmocnienia małego: Y(I1) = 1777, Y(I2) = 194, Y(I3) = 178
Odczyty ADC dla kubka 1, kanału 2, wzmocnienia dużego: Y(I2) = 1815, Y(I3) = 1676, Y(I4) = 84

Odczyty ADC dla kubka 1, kanału 3, wzmocnienia małego: Y(I1) = 1777, Y(I2) = 199, Y(I3) = 182
Odczyty ADC dla kubka 1, kanału 3, wzmocnienia dużego: Y(I2) = 1839, Y(I3) = 1713, Y(I4) = 128

Odczyty ADC dla kubka 1, kanału 4, wzmocnienia małego: Y(I1) = 1722, Y(I2) = 177, Y(I3) = 162
Odczyty ADC dla kubka 1, kanału 4, wzmocnienia dużego: Y(I2) = 1719, Y(I3) = 1566, Y(I4) = 22

Odczyty ADC dla kubka 2, kanału 1, wzmocnienia małego: Y(I1) = 1769, Y(I2) = 192, Y(I3) = 176
Odczyty ADC dla kubka 2, kanału 1, wzmocnienia dużego: Y(I2) = 1801, Y(I3) = 1657, Y(I4) = 72

Odczyty ADC dla kubka 2, kanału 2, wzmocnienia małego: Y(I1) = 1772, Y(I2) = 196, Y(I3) = 178
Odczyty ADC dla kubka 2, kanału 2, wzmocnienia dużego: Y(I2) = 1822, Y(I3) = 1690, Y(I4) = 105

Odczyty ADC dla kubka 2, kanału 3, wzmocnienia małego: Y(I1) = 1761, Y(I2) = 187, Y(I3) = 171
Odczyty ADC dla kubka 2, kanału 3, wzmocnienia dużego: Y(I2) = 1763, Y(I3) = 1611, Y(I4) = 32

Odczyty ADC dla kubka 2, kanału 4, wzmocnienia małego: Y(I1) = 1741, Y(I2) = 198, Y(I3) = 182
Odczyty ADC dla kubka 2, kanału 4, wzmocnienia dużego: Y(I2) = 1851, Y(I3) = 1752, Y(I4) = 213

Odczyty ADC dla kubka 3, kanału 1, wzmocnienia małego: Y(I1) = 1767, Y(I2) = 191, Y(I3) = 174
Odczyty ADC dla kubka 3, kanału 1, wzmocnienia dużego: Y(I2) = 1793, Y(I3) = 1647, Y(I4) = 63

Odczyty ADC dla kubka 3, kanału 2, wzmocnienia małego: Y(I1) = 1774, Y(I2) = 194, Y(I3) = 177
Odczyty ADC dla kubka 3, kanału 2, wzmocnienia dużego: Y(I2) = 1814, Y(I3) = 1674, Y(I4) = 85

Odczyty ADC dla kubka 3, kanału 3, wzmocnienia małego: Y(I1) = 1767, Y(I2) = 190, Y(I3) = 174
Odczyty ADC dla kubka 3, kanału 3, wzmocnienia dużego: Y(I2) = 1786, Y(I3) = 1635, Y(I4) = 49

Odczyty ADC dla kubka 3, kanału 4, wzmocnienia małego: Y(I1) = 1724, Y(I2) = 181, Y(I3) = 164
Odczyty ADC dla kubka 3, kanału 4, wzmocnienia dużego: Y(I2) = 1744, Y(I3) = 1593, Y(I4) = 44
