# Zbiór konfiguracyjny - Pomiar Wiązki w Linii Iniekcyjnej

# Przykładowa deklaracja portu szeregowego:
# Port szeregowy: /dev/ttyS4
# Port szeregowy: /dev/ttyUSB0
# Port szeregowy: /tmp/mbus

Port szeregowy: /dev/ttyS5

Adres mobusowy slave'a: 1

# Deklaracja liczby kubków określa ilość danych do pobrania przez Modbus i do wyświetlenia na ekranie; 
# parametr musi być nie większy niż 3
Liczba kubków Faradaya do obsłużenia: 3

# Czas w którym nie jest sprawdzana zgodność stanu krańcówki ze stanem elementu wykonawczego (np. elektrozaworu),
# liczony od momentu kliknięcia w przycisk na ekranie do momentu odebrania przez Modbus informacji zwrotnej;
# parametr jest wyrażony w milisekundach; musi zawierać się w przedziale [100; 10000].
Limit czasu propagacji sygnału z krańcówki: 1200

Tytuł pierwszego kubka: Kubek Faradaya w linii poziomej
Tytuł drugiego kubka:   Kubek Faradaya w linii pionowej pneumatyczny
Tytuł trzeciego kubka:  Kubek Faradaya w linii pionowej silnikowy


