# Zbiór konfiguracyjny - Pomiar Wiązki w Linii Iniekcyjnej za pomocą kubków Faradaya

Port szeregowy: /dev/ttyS5

Adres mobusowy slave'a: 1

Liczba kubków Faradaya do obsłużenia: 3

# Numeracja kubków Faradaya jest następująca:
# 1. Kubek położony najbliżej źródła jonów, z napędem pneumatycznym.
# 2. Kubek z napędem pneumatycznym, pełniący dodatkowo funkcję blokady dopływu wiązki do cyklotronu.
# 3. Kubek położony najbliżej cyklotronu, z napędem silnikowym.
Tytuł pierwszego kubka: Kubek Faradaya w linii poziomej
Tytuł drugiego kubka:   Kubek Faradaya w linii pionowej pneumatyczny
Tytuł trzeciego kubka:  Kubek Faradaya w linii pionowej silnikowy

# Limity czasu aktywności napędów kubków Faradaya w milisekundach
Limit czasu wsuwania kubka 1:  2000
Limit czasu schowania kubka 1: 2000
Limit czasu wsuwania kubka 2:  2000
Limit czasu schowania kubka 2: 2000
Limit czasu wsuwania kubka 3:  6000
Limit czasu schowania kubka 3: 7000

# Kalibracja kubków Faradaya powinna być wykonana za pomocą 4 żródeł prądowych o znanych i stabilnych wartościach prądu
# Prądy I2 i I3 są progami przełączania wzmocnienia, określającymi strefy histerezy
# Jednostka 1 uA/100 = 0.01 uA
# Maksymalna wartość prądu kalibracyjnego nie może przekroczyć 30000 uA/100 = 300 uA
Prądy kalibracyjne: I1 = 24169 uA/100, I2 = 2410 uA/100, I3 = 2198 uA/100, I4 = 158 uA/100

Odczyty ADC dla kubka 1, kanału 1, wzmocnienia małego: Y(I1) = 1725, Y(I2) = 180, Y(I3) = 164
Odczyty ADC dla kubka 1, kanału 1, wzmocnienia dużego: Y(I2) = 1741, Y(I3) = 1589, Y(I4) = 43

Odczyty ADC dla kubka 1, kanału 2, wzmocnienia małego: Y(I1) = 1732, Y(I2) = 184, Y(I3) = 166
Odczyty ADC dla kubka 1, kanału 2, wzmocnienia dużego: Y(I2) = 1766, Y(I3) = 1622, Y(I4) = 66

Odczyty ADC dla kubka 1, kanału 3, wzmocnienia małego: Y(I1) = 1731, Y(I2) = 187, Y(I3) = 171
Odczyty ADC dla kubka 1, kanału 3, wzmocnienia dużego: Y(I2) = 1795, Y(I3) = 1661, Y(I4) = 108

Odczyty ADC dla kubka 1, kanału 4, wzmocnienia małego: Y(I1) = 1722, Y(I2) = 177, Y(I3) = 162
Odczyty ADC dla kubka 1, kanału 4, wzmocnienia dużego: Y(I2) = 1719, Y(I3) = 1566, Y(I4) = 22

Odczyty ADC dla kubka 2, kanału 1, wzmocnienia małego: Y(I1) = 1727, Y(I2) = 185, Y(I3) = 167
Odczyty ADC dla kubka 2, kanału 1, wzmocnienia dużego: Y(I2) = 1770, Y(I3) = 1625, Y(I4) = 75

Odczyty ADC dla kubka 2, kanału 2, wzmocnienia małego: Y(I1) = 1728, Y(I2) = 185, Y(I3) = 169
Odczyty ADC dla kubka 2, kanału 2, wzmocnienia dużego: Y(I2) = 1774, Y(I3) = 1632, Y(I4) = 81

Odczyty ADC dla kubka 2, kanału 3, wzmocnienia małego: Y(I1) = 1718, Y(I2) = 176, Y(I3) = 163
Odczyty ADC dla kubka 2, kanału 3, wzmocnienia dużego: Y(I2) = 1713, Y(I3) = 1558, Y(I4) = 22

Odczyty ADC dla kubka 2, kanału 4, wzmocnienia małego: Y(I1) = 1741, Y(I2) = 198, Y(I3) = 182
Odczyty ADC dla kubka 2, kanału 4, wzmocnienia dużego: Y(I2) = 1851, Y(I3) = 1752, Y(I4) = 213

Odczyty ADC dla kubka 3, kanału 1, wzmocnienia małego: Y(I1) = 1725, Y(I2) = 181, Y(I3) = 165
Odczyty ADC dla kubka 3, kanału 1, wzmocnienia dużego: Y(I2) = 1751, Y(I3) = 1603, Y(I4) = 55

Odczyty ADC dla kubka 3, kanału 2, wzmocnienia małego: Y(I1) = 1724, Y(I2) = 181, Y(I3) = 166
Odczyty ADC dla kubka 3, kanału 2, wzmocnienia dużego: Y(I2) = 1756, Y(I3) = 1608, Y(I4) = 59

Odczyty ADC dla kubka 3, kanału 3, wzmocnienia małego: Y(I1) = 1724, Y(I2) = 180, Y(I3) = 165
Odczyty ADC dla kubka 3, kanału 3, wzmocnienia dużego: Y(I2) = 1746, Y(I3) = 1595, Y(I4) = 49

Odczyty ADC dla kubka 3, kanału 4, wzmocnienia małego: Y(I1) = 1724, Y(I2) = 181, Y(I3) = 164
Odczyty ADC dla kubka 3, kanału 4, wzmocnienia dużego: Y(I2) = 1744, Y(I3) = 1593, Y(I4) = 44
